
<% if session[:user_id] %>

  <div id='video_grid'>
    #
  </div>

<% else %>

  <div id="logo-palazzo">
    <%= image_tag( 'logopalazzo.png' ) %>
    <p>para utilizar este serviço por favor insira suas informações na área de login e senha</p>
  </div>

<% end %>

<% if Rails.env == 'development' %>
  <%#= render 'devintel' %>
<% end %>
