<div id='video_grid'>
  <% if browser.ios? %>
    HLS
    <%= render 'hls' %>
  <% else %>
    RTSP
    <%= render 'rtsp' %>
  <% end %>
</div>
<br/>
<% if Rails.env == 'development' %>
  <%= render 'devintel' %>
<% end %>
