<div id="login">
  <div class="title">Painel Administrativo</div>
  <div class="label">usuário</div>
  <div id="input"><input /></div>
  <div class="label">senha</div>
  <div id="input"><input /></div>
  <div id="button"><button>acessar</button></div>
  <div id="spacer">&nbsp;</div>
</div>