// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video_grid {
  margin: 5px 5px;
  border: 1px solid;
  text-align: center;

  #viewer {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 240px;
    background-color: #0F0A4A;
  }

  #viewerbar {
    float: right;
    margin-bottom: 16px;
    width: 100%;
    height: 24px;
    background-color: #9991FF;
  }

  .titleview {
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    font-size: 16px;
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    color: #FFF;
  }

  #barbutton {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
    width: auto;
    height: auto;
  }

  #spacer { // fixme
    margin-botton: 16px;
  }
}

#dev {
  width: 320px;
  text-align: center;
  //margin: 0px 15px;
  //border: 1px dotted;
  //padding: 1px;
  background-color: #5ca028;
  font-size: small;
}
